.InformationOuter {
height:93vh;
@media only screen and (max-width:768px){
    height:100vh;
    margin-bottom: 50px;

}
}

.HeadingInformation{
    text-align: center;
    margin-bottom: 40px;
    // width   : 60%;  /* or 100px */
    // box-shadow: 0px 24px 3px -24px magenta;
    // border-bottom:3px solid #1d5296;
    .Heading{
        font-size:4rem;
        font-weight: 600;
        // margin-bottom: 40px;
        @media only screen and (max-width:768px){
            font-size: 2rem;
            font-weight: 700;   

        }
    }
}
.HeadingInformation:after {
    display:block;
    clear:both;
    content : "";
    position: relative;
    left    : 0;
    bottom  : 0;
    // max-width:250px;
    height  : 1px;
    width   : 80%;  /* or 100px */
    border-bottom:3px solid #3985e7;
    margin:0 auto;
    padding:4px 0px;
}
.cardTitle{
    text-align: center;
    font-weight: 900;
    font-size: 2rem !important;
}
.cardBody{
    // border: solid 1px black;
}
.img-fluid{
    border-radius: 20px 0 20px 0;
}
.Card{
    border-radius: 20px 0 20px 0 !important ;
    box-sizing: inherit !important;
}
.Carousel{
    height: 100vh;

}
.grBOFc{
    height:100vh;
    margin-bottom: 40px ;
}
.imYUvI{
    height:fit-content;
}
.CardText{
    font-weight: 700 !important;

}